* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #111010;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-gallery {
    display: none;
}

.gallery-item {
    perspective: 1000px;
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateZ(0);
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
    border: 1px solid rgb(93, 201, 160);
}

.fade-in {
    opacity: 1 !important;
    transform: scale(1) !important;
}

/* Media Queries for Responsive Design */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .gallery {
        display: none;
    }
    .responsive-gallery {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .gallery {
        display: none;
    }
    .responsive-gallery {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* .gallery {
        display: none;
    } */
    .gallery {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
    }
    /* .gallery {
        grid-template-columns: repeat(3, 1fr);
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.gal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
    border: 1px solid rgb(93, 201, 160);
}

.fade-in {
    opacity: 1 !important;
    transform: scale(1) !important;
} */
